<form method="POST" id="add_user">
    <div class="form-group">
        <label for="name" class="text-light">Name</label>
        <input type="hidden" name="id" value="">
        <input type="text" name="name" value="" placeholder="Mark Stoenis">
    </div>
    <div class="form-group">
        <label for="Email" class="text-light">E-mail</label>
        <input type="hidden" name="id" value="">
        <input type="text" name="Email" value="" placeholder="Mark Stoenis">
    </div>
    <div class="form-group">
        <label for="gender" class="text-light">Gender</label>
    <div class="radio inline">
        <input type="radio" name="email" value="Male" placeholder="example@gmail.com">
        <label for="gender" class="radio-label">Male</label>
    </div>
    <div class="radio inline">
        <input type="radio" name="email" value="Female" placeholder="example@gmail.com">
        <label for="gender" class="radio-label">Female</label>
    </div>
    </div>
    <div class="form-group">
        <label for="Status" class="text-light">Status</label>
    <div class="radio inline">
        <input type="radio" name="email" value="Ative" placeholder="example@gmail.com">
        <label for="Status" class="radio-label">Active</label>
    </div>
    <div class="radio inline">
        <input type="radio" name="email" value="Inactive" placeholder="example@gmail.com">
        <label for="Status" class="radio-label">Inactive</label>
    </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn text-dark update">Save</button>
    </div>
</form>